<ion-header>
  <ion-toolbar  color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
     <ion-fab-button [routerLink]="['/createcategory']" [queryParams]="{record:'a'| json }">

       <ion-icon name="add" ></ion-icon>
     </ion-fab-button>
   </ion-fab>

   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
     <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull to refresh"
       refreshingSpinner="circles">
     </ion-refresher-content>
   </ion-refresher>

<div *ngFor="let a of categories">
  <ion-item  (click)="categoryClick(a)">
   <ion-avatar item-start slot="start" >
     <h2  class="first-letter" [ngStyle]="{'background-color':a.ButtonColor}"></h2>
   </ion-avatar>&nbsp;&nbsp;&nbsp;
   <span><b>{{a.CategoryName}}</b></span>
 </ion-item>
</div>

</ion-content>
