mat-form-field {
  width: 100%;
  padding: 2px
}
span.createbox {
    height: 4rem;
    min-height: 4rem;
    max-height: 4rem;
    width: 4.5rem;
    min-width: 4.5rem;
    max-width: 4.5rem;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
    zoom:2.0;
    padding: 1rem;
}
.colorsel {
    text-align: center;
}
.alert {
    height: 0rem;
    color: red;
    font-size: 12px;
}
