span.menu-card {
    background-color: #1c941c6b;
    padding: 1rem 0.5rem 1rem 0.5rem;
    text-align: center;
}
ion-button.ion-color.ion-color-danger.md.button.button-full.button-solid.ion-activatable.ion-focusable.hydrated {
    height: 1.2rem;
    width: 10rem;
    margin: auto;
}
span.signed {
      color: #10101075;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 2rem;
}
span.signedas{
  line-height: 2.5rem;
    font-weight: 500;
    color: #000000a8;
}
span.version {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
