
ion-avatar.md.hydrated {
    margin-top: -1rem;
}
h2.first-letter {
  border: 1px solid transparent;
height: 33px;
-webkit-border-radius: 50%;
width: 34px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    display: flex;
    justify-content: flex-end;
}
p.small {
    letter-spacing: 0.7px;
    font-size: 11px;
    color: #6f6c6c;
}
span.description {
    height: 2.2rem;
}
ion-item.item-label.item.md.ion-focusable.hydrated {
    padding-top: 0.6rem;
}
ion-card.sc-ion-card-md-h.sc-ion-card-md-s.md.hydrated {
    height: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #52a252;
    color: white;
    text-align: center;
}
.center {
    letter-spacing: 1px;
}
ion-row.md.hydrated {
    padding: 0 1rem;
    border: 1px solid #e2e0e0;
}
span.checkout {
    letter-spacing: 2px;
    color: #c9d2cf;
}
